{% extends 'store/layouts/main.html' %}
{% load static %}
{% block title %}
  Collections
{% endblock %}

{% block content %}
  <div class="container py-3">
    <div class="row">
      <div class="col-md-12">
        <h5>{{ category_name.name }}</h5>
        <hr />
        <div class="row">
          {% for product in products %}
            <div class="col-md-3 mb-3">
              <a href="#" class="ref">
                {% comment %} {% url 'collections/' product.slug %} {% endcomment %}
                <div class="card">
                  <div class="card-body">
                    <div class="product-image">
                      <img src="{{ product.product_image.url }}" alt="product-image" width="250px" height="250px" class="w-100" />
                    </div>
                    <h6 class="text-center">{{ product.name }}</h6>
                    <span class="float-start mx-3"><del>$ {{ product.original_price }}</del></span>
                    <span class="float-end mx-3" style="color: brown;">$ {{ product.selling_price }}</span>
                  </div>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores cumque illum recusandae neque et magni.</p>
